[2018-09-15 19:26] papacrown opened #1 "When loading cams, if one of the cams is offline/not recording, whole card doesn't load."
I have a few Canary cams that don't record while offline, but the rest of my setup is with Unifi G3's. The Unifi's wouldn't show up if the Canarys were in my config and weren't recording.

[2018-10-03 17:13] drjared88 opened #2 "Large image doesn't load on Safari in iOS"
The thumbnails load fine however the large image just shows a white box in Safari on my iPhone. Using Chrome works.

[2018-10-25 11:49] jiiins opened #3 "[enhancement] Lazy Load snapshots for out of view cameras"

[2018-10-31 09:55] isabellaalstrom opened #4 "Please add screenshots"
It would be great if you added a screenshot of how the card looks like in use in the readme. :)

[2018-11-27 17:12] dkramer74 opened #5 "Please allow manual switching between feeds"
Would love to be able to manually switch between feeds, it appears as though motion is the only way to switch (unless I'm missing something)

[2018-12-01 17:53] niemyjski opened #6 "Cameras are shown but, but main camera card is blank."
I'm running 83.2 with latest version of this card. I get errors in the console and all I see is a black image where the main image should be.
[code]

It looks like the camera_proxy_stream is failing to load but the thumbnails load..

[2018-12-02 14:14] ekkesa opened #7 "Feature request: Hide Thumbnails, set default focus camera"
Hi,
First of all - Awesome card! Thank you for this.

Is it possible to hide the thumbnails on the left, and set a default camera view? E.g.

I have a camera which shows a 4x4 grid displaying all my CCTV cameras, and would like to focus to motion and then revert back to grid view afterwards.

Thank you

[2019-01-05 05:37] rdariolemes opened #8 "No /config/www folder"
Hello,

There is no /config/www folder created so mv fails.

I tried creating one and copying the file in but it doesn't work.

Thanks

[2019-01-05 22:12] rdariolemes commented on #8
Resolved. Work Flawless

[2019-01-05 22:12] #8 closed

[2019-01-05 22:20] rdariolemes commented on #7
Agree on this!! Will be awesome to have all the cameras in an array and then popup to the main feed of the one detecting motion. After 1 min or so go back to the array.

[2019-01-09 20:39] BoneheadFraggle opened #9 "Feature request: Set thumbnail size"
I have 10 cameras and I need to scroll down since they don't fit on screen.
It would be nice to set a smaller thumbnail size to fit them all on screen.

[2019-01-15 13:59] s0c1 opened #10 "custom element doesn't exist"
lit-element has moved to:
https://unpkg-gcp.firebaseapp.com/@polymer/lit-element@0.5.2/lit-element.js?module

[2019-01-15 17:46] IIIdefconIII commented on #10
same here, seems that all custom cards need a update or so,

[2019-01-15 22:16] ezraholm50 commented on #10
Still wont work, after changing, restarting. Any advise? Another card "power wheel" did work after changing..

[2019-01-15 22:22] s0c1 commented on #10
You have to clear your browser cache for this change to appear. Also, I did a contribute a pull request, so you can see the source that worked for me.

[2019-01-18 01:16] PlayedIn commented on #10
Are you saying this card is broken until the code is changed?  First time installer here, and also receiving "custom element doesn't exist".

[2019-02-16 17:30] sea3pea0 opened #12 "Tap Action, Hold Action"
It would be great if we could set a tap action for the card. That way for ptz cameras a click on the card could change the ptz preset for the camera.

I have done this already with the picture glances card. I have all my camera's presets synced with a input_number for each camera. When input_number is changed it directs the camera to change preset position. So on the picture glances card, when the

[2019-02-16 17:49] sea3pea0 opened #13 "Add more than one binary sensor"
It would be great if it were possible to add more than one binary sensor for each camera

[2019-03-13 19:14] robbinonline commented on #6
Same here but only in safari, chrome works fine.

[2019-03-17 07:44] CMaxim77 commented on #7
I would love to hide the thumbnail!

[2019-04-12 22:28] chuckweinberger commented on #10
@s0c1's pull requested worked for me for a few months, but now I'm getting the following js error: `:8123/local/surveillance-card.js?v=2:1` Uncaught SyntaxError: Unexpected token {
which is the first line of the import statement.

[2019-05-04 00:04] DrFrankReade opened #14 "Home Assistant 0.92.2, no errors, but cameras show as blue lines"
In my config, and yes, I seemed to be able to add the custom card without error, my cameras show up as blue lines on a big black background. Running Home Assistant 0.92.2

[code]

These cameras work fine as picture-glance

I don't have motion detection, so I left those lines out. Even as this card sits there and flounders, the streaming from the cameras works fine in other cards.

Thoughts?

[2019-05-06 17:36] iantrich commented on #7
You could do this now using [config-template-card](https://github.com/custom-cards/config-template-card). Set up your grid however you like, using stacks or a picture-elements card or whatever and outside of that use the config-template-card to watch for motion changes to match and switch to a picture card with that camera defined as the stream source and then it switches back to your grid when mo

[2019-05-06 17:38] iantrich commented on #5
Clicking on a thumbnail should switch it to the main view: https://github.com/custom-cards/surveillance-card/blob/master/surveillance-card.js#L77

[2019-05-10 09:28] dominikheinz opened #15 "Custom element doesn't exist: surveillance-card"
I've added the `surveillance-card.js` file in the folder where all the other home assistant yaml files are stored. Since the `ui-lovelace.yaml` file didn't exist previously I've created it and add custom card info:

[code]
I added the card to the UI and I am prompted this:
[code]

What did I misconfigurate that it can't find the custom element?

[2019-06-14 05:08] grv2k8 commented on #15
I have the same issue with this card. Did you manage to get it resolved?

[2019-06-15 08:20] Cjdavidson commented on #14
Yes I have same issue.

[2019-07-06 16:37] TheAlphaLaw commented on #9
I second this. I have a few cameras with different resolutions and the thumbnails are far bigger than other cameras. I force all my Lovelace picture entity cards to "- aspect_ratio: 16x9", but cannot resize thumbnails here.

[2019-07-10 14:36] kaskader13 commented on #15
I have the same issue with this card. Did you manage to get it resolved?

[2019-07-10 15:36] manny199 commented on #15
I have a problem, I switch in yaml mode and insert the lines into file ui-lovelace.yaml but in lovelace UI I obtain only one card.
How can integrate this card and other cards togheter in lovelace ui without use yaml mode?

[2019-08-07 12:16] codeclinic opened #16 "TypeError: this._hass.states[currentCamera] is undefined"
The camera isnt loading (just a black card) and this is showing in my log:

TypeError: this._hass.states[currentCamera] is undefined

I have the following in raw config editor:

`  - badges: []
    cards:
      - cameras:
          - entity: camera.mobile_demo
        thumb_interval: 15
        type: 'custom:surveillance-card'
        update_interval: 2
    icon: 'mdi:security'
    title: Security

[2019-08-09 00:55] prasket commented on #15
this is a duplicate of: https://github.com/custom-cards/surveillance-card/issues/10

[2019-08-09 00:57] prasket commented on #10
I did a little digging and found this message at the old source in npmjs

New location is here: [https://www.npmjs.com/package/lit-element](https://www.npmjs.com/package/lit-element)

I tried just subbing out locations and for new versions as a first go but didnt work. :(

[2019-09-19 06:31] CarpeDiemRo opened #17 "Loading Problems"
[code]

OS: macOS
Browsers: Safari, Chrome
HA: 0.99

When I switch to CCTV tab in HA, the main image is not loaded.
Work arround: refresh browser

The second camera is not turned on, therefore is not displayed

![Screenshot 2019-09-19 at 09 33 50](https://user-images.githubusercontent.com/38489167/65219150-ac409380-dac0-11e9-976f-0720ac08a58e.png)

[2019-09-19 06:33] CarpeDiemRo opened #18 "Refresh interval issue"
[code]

OS: macOS
Browsers: Safari, Chrome

Even though update interval is set to 1 (one second) the new frame is loaded with delay from 4 to 5 seconds.

[2019-12-12 13:05] Korte68 commented on #12
+1
I also would like to set action on tap on the picture...

[2019-12-26 01:16] Kedryn opened #19 "Screenshot"
Can we have some screenshots of what this card does, before having to install, configure and try it?

[2020-01-06 22:30] #5 closed

[2020-01-07 13:29] VarenDerpsAround opened #20 "**Last updated 12 months ago**"
I'm going to reverse course and uninstall this in the state it is currently in. I tried to get the card to work, it just gives me UI errors and broken images. Pass. Enclosed are some of my screen shots.
![image](https://user-images.githubusercontent.com/58420778/71898546-39b2fc80-311f-11ea-95d8-31ecc2ef7ffb.png)
![image](https://user-images.githubusercontent.com/58420778/71898586-54857100-311f-11e

[2020-03-20 21:34] jysaloma commented on #20
Having the same issues. From the logs
ERROR (MainThread) [frontend.js.latest.202003181] https://ha.xxxx.xxx/community_plugin/surveillance-card/surveillance-card.js:10:25TypeError: this._hass.states[currentCamera] is undefined
WARNING (MainThread) [homeassistant.components.camera] The websocket command 'camera_thumbnail' has been deprecated.

Any alternatives available if this on will not be mainta

[2020-03-24 15:59] CarpeDiemRo commented on #17
The problem persist. Any resolution so far?

[2020-03-26 13:42] SamPhoenix91 opened #21 "Is there a version of this that runs in a proper card style?"
I'm looking for a card like this (showing multiple cameras & changing on motion detection), but to run in my existing display.

I have this card set up as its own dashboard, but I want a glance at my cameras.

I am going to try and Lovelace one together but a proper card version would be nice.  (I would make one but I am not familiar with JS)

[2020-03-26 15:15] tommyjlong opened #22 "websocket command 'camera_thumbnail' has been deprecated."
Just started using this card in 0.107 and I'm getting a log warning (which I presume is coming from this card):
`The websocket command 'camera_thumbnail' has been deprecated.`

The websocket documentation doesn't mention anything here about it being deprecated:
[camera_thumbnails](https://developers.home-assistant.io/docs/external_api_websocket/#fetching-camera-thumbnails)

[2020-04-13 21:51] niemyjski opened #23 "Add HACS Support"
Looks like the directory structure just needs to be changed for this:

https://github.com/hacs/integration/issues/1062

[2020-04-13 21:56] niemyjski commented on #23
@jeradM, @ciotlosm, @Gluwc, @iantrich, @maykar Can we get some help/people (including myself) added to maintainers of this repo / org. I'll try my best to help fix major issues (time is limited but any time is better than nothing), review pr's and merge them.

[2020-04-13 22:01] iantrich commented on #23
If anyone submits PRs I can merge them but I don't plan on doing anything beyond that.

[2020-04-20 21:46] Korte68 opened #24 "HACS blacklisted it. Why?"
Hi, Why HACS blacklisted it?

[2020-05-16 13:40] niemyjski commented on #24
Duplicate of #23

[2020-05-16 13:40] niemyjski commented on #23
@iantrich I submitted a pr: #25

[2020-05-16 23:28] iantrich commented on #23
Does this card even work on newer installs?

[2020-05-17 03:03] niemyjski commented on #23
Yes I’m using it on the latest version

[2020-05-19 06:26] cagnulein commented on #10
anyone has a solution?

[2020-05-19 11:44] s0c1 commented on #10
I pulled this out and switched to the plain Camera element. If you use the still_image_url with a fast refresh time (1 second), it works like a champ in stock HA.

[2020-05-19 23:13] #23 closed

[2020-05-19 23:13] #24 closed

[2020-05-19 23:13] iantrich commented on #19
PRs welcome

[2020-05-19 23:14] #20 closed

[2020-05-19 23:14] #21 closed

[2020-05-19 23:14] #15 closed

[2020-05-19 23:15] #19 closed

[2020-05-19 23:17] iantrich commented on #13
https://www.home-assistant.io/integrations/binary_sensor.template/

[2020-05-19 23:17] #13 closed

[2020-05-26 21:42] niemyjski commented on #22
I'm going to close this as I'm not seeing this error. If you can give me the details of where you are seeing this with the latest HA release please comment back and we'll reopen it.

[2020-05-26 21:43] niemyjski commented on #17
I haven't seen this issue unless the camera is unavailable. Please comment if you are still seeing this issue with any console errors/stack trace and well get it fixed.

[2020-05-26 21:43] #17 closed

[2020-05-26 21:44] niemyjski commented on #22
Ok I see this in the HASS Logs not the console or request stream where I'd expect to see them.

[2020-05-26 21:44] niemyjski commented on #18
@CarpeDiemRo Have you been able to figure out what the core issue is?

[2020-05-26 21:46] niemyjski commented on #16
This is a duplicate of #14

[2020-05-26 21:46] #16 closed

[2020-05-26 21:47] niemyjski commented on #14
Were you able to get a fix for this? I see it on 0.100 but only very rarely and it's normally when a camera is off.

[2020-05-26 21:48] niemyjski commented on #12
If you want to submit a pr for this, I'll review and accept it! If there are no takers I'll be closing this issue in the near future.

[2020-05-26 21:50] niemyjski commented on #10
I'm not seeing this issue, can someone please let me know how to reproduce this issue. I'm not having any issues with this component and I have unifi, nest and amcrest cameras.

[2020-05-26 21:51] niemyjski commented on #9
If you want to submit a PR for this, we'd gladly accept it. I'm going to close this in the near future if there are no takers. I've been using the motion entities to trigger the camera change.

[2020-05-26 21:52] niemyjski commented on #7
It sounds like this is already available via @iantrich's comment, for this reason I'm going to close this issue but if someone wants to submit a pr for this, we'll review it and accept it.

[2020-05-26 21:52] #7 closed

[2020-05-26 21:53] niemyjski commented on #6
I'm closing this as I haven't seen this in a really long time. If you are still seeing this @robbinonline please let me know (I use safari too)

[2020-05-26 21:53] #6 closed

[2020-05-26 21:54] niemyjski commented on #4
If you want to add some screenshots in a pr I'll accept it. I would add mine but I don't feel like leaking my home pictures online.

[2020-05-26 21:54] #4 closed

[2020-05-26 21:54] niemyjski commented on #3
Would you mind submitting a pr for this issue.

[2020-05-26 21:55] niemyjski commented on #2
I'm not seeing this at all and I use macOS and iPhone. Please comment if you are still seeing this with the steps to reproduce.

[2020-05-26 21:55] #2 closed

[2020-05-26 21:56] niemyjski commented on #1
I have multiple unifi cameras and I haven't seen this issue even when one camera is offline. Please let me know if you get any errors (and attach stack traces) and we'll look into it.

[2020-05-26 21:56] #1 closed

[2020-05-26 22:12] niemyjski commented on #22
@tommyjlong can you file an issue and see what we are supposed to use: https://github.com/home-assistant/core/pull/32473/files has no information and https://developers.home-assistant.io/docs/api/websocket/#fetching-camera-thumbnails still says to use this.

[2020-05-26 23:16] niemyjski commented on #14
The reason you are seeing the blue line is because the camera wasn't found in the hass states. Can you please ensure that your configuration is ok.

[2020-05-26 23:16] #14 closed

[2020-05-26 23:16] niemyjski commented on #16
I also committed a safety fix for this but it can be caused by invalid camera configuration.

[2020-05-26 23:18] niemyjski commented on #10
Fixed

[2020-05-26 23:18] #10 closed

[2020-05-27 00:44] tommyjlong commented on #22
I hope you don't mind but I will decline.  I would just be someone in the middle not contributing to the solution.

[2020-05-27 02:08] niemyjski commented on #22
Logging an issue would be a huge help especially to this project (any help goes a long way). I asked in discord and got no response. I did look at what the front end is doing and it's calling `camera_proxy` but the image images are not updated very often at all.....

[2020-05-27 15:31] tommyjlong commented on #22
Maybe this is helpful...after googling a bit, it was reported that Arlo cameras had this problem, but supposedly its been fixed (see [here](https://community.home-assistant.io/t/solved-the-websocket-command-camera-thumbnail-has-been-deprecated/179914/2))

I don't know JS really, but taking a look at the [repository](https://github.com/twrecked/hass-aarlo/blob/master/custom_components/aarlo/camera.

[2020-06-05 12:38] cristimi opened #26 "Feature request: Multiple motion entities"
Really nice card. Is it possible to add multiple motion entities ? I have a camera which is watching 3 different doors each with its sensor so would be nice to be able to add all 3.

[2020-06-06 01:40] Tovrin opened #27 "Feature Request: Cycle Cameras and set main view size."
As I don't motion control with my cameras, it would be handy just to be able to cycle through the cameras, and set the interval.

The second one, I'm not sure if it's already possible, but the picture size is only very small.  Is it possible to set the size, or have it dynamically sized to take up space available (and maintain aspect ratio, of course)

[2020-06-07 14:47] nagyrobi commented on #27
+1 for this

[2020-06-12 20:02] captainnapalm commented on #22
I'm seeing this issue a lot with using this card.

`Logger: homeassistant.components.camera
Source: components/camera/__init__.py:552
Integration: Camera (documentation, issues)
First occurred: 11:10:10 AM (3455 occurrences)
Last logged: 2:02:25 PM

The websocket command 'camera_thumbnail' has been deprecated.`

[2020-06-15 15:35] ielbury commented on #26
I will add, nice card, I have multiple sources of motion, some PIR and some from MotionEye in an area. Would be awesome to have multiple motion entities.

[2020-06-15 15:39] ielbury commented on #27
It would be great if it could switch to cycle some time after the last motion.

[2020-06-18 16:53] balloob commented on #22
This is what the HA frontend does: https://github.com/home-assistant/frontend/blob/dev/src/data/camera.ts#L36

If you don't want to use signed paths, you can use the 	camera access token that is part of the state:

[code]

[2020-06-18 21:12] niemyjski commented on #22
@balloob what is the delay on this? It seemed to refresh way slower than what the web sockets refreshed (almost real time). I was playing around with this and it's what I'm using locally (with the cameras token).

[2020-06-18 22:25] balloob commented on #22
what do you mean with delay? We're deprecating the websocket version because we shouldn't push megabytes of data via the websocket API. It's not meant for that.

The websocket API will be removed in a future version.

[2020-06-30 14:28] niemyjski commented on #22
@balloob sorry for the delay, I haven't had much time lately but I started rewriting the whole component to be much more lightweight and not even use web sockets at all. I'm really close to pushing it out but stuck on two areas:

1. Figuring out if there is a good way to import a built in function to do throttling (with tail) as the `hass` object updates super super often.
2. I'm running into some

[2020-06-30 14:48] niemyjski commented on #22
Just down to figuring out the first issue and making sure changes are efficient. Turns out the dirty checking in polymer needed a bit of help: https://polymer-library.polymer-project.org/1.0/docs/devguide/model-data#override-dirty-check

[2020-06-30 16:31] balloob commented on #22
Uh, don't use Polymer 1.0! If you're going to rewrite it, use their new https://lit-element.polymer-project.org/ , it's what we use in the frontend too.

[2020-06-30 18:04] gbdesai2004 commented on #27
Yes, I second that.  Cycle a set of cameras ever n time, then when there is motion switch to the camera with motion and follow it from camera to camera till some sort of timeout after motion stops, then back to cycling.

[2020-06-30 18:25] niemyjski commented on #22
@balloob I'm using that :-)

[2020-07-03 19:14] niemyjski commented on #18
If you are still seeing this, I think this is due to server side on ha as we just use the camera_stream_proxy end point and pass the interval directly to that.

[2020-07-03 19:14] #18 closed

[2020-07-03 19:15] #9 closed

[2020-07-03 19:15] #3 closed

[2020-07-03 19:16] niemyjski commented on #26
I just made this possible with #28 by adding this metadata to the camera model. But more work has to be done here.. Would you submit a pr for this based on #28 when it's merged in. It should just be a matter of updating the markup

[2020-07-03 19:17] niemyjski commented on #27
Good idea, any takers for submitting a pr once #28 is merged in?

[2020-07-03 19:17] #12 closed

[2020-07-03 20:37] niemyjski commented on #22
This has been fixed in 0.0.3

[2020-07-03 20:37] #22 closed

[2020-07-06 12:46] niemyjski commented on #22
@balloob is it more reliable to just refresh the image every time the hass object changes (throttled) or listen to the web socket.. What would be really nice if I just set the refresh interval on a camera_proxy_stream and when motion is detected server side it would refresh the proxy stream immediately disregarding the interval.

[2020-07-07 12:33] Luke95vl opened #29 "Main camera stream not present at the beginning + Login failed"
after updating to the latest version the image of the main camera does not appear, the broken image icon is present, while the mini thumbails work regularly. If I wait 15 seconds the image appears but at every page refresh the problem persists.
In addition, every time I try to access the surveillance screen I receive a failed login notification from the IP of the device I am using. In the logs is

[2020-07-08 07:56] hsolberg commented on #29
I get the same exact problem. I think it might be related to this perhaps: https://github.com/custom-cards/surveillance-card/issues/22#issuecomment-654212714

[2020-07-08 13:33] cben0ist commented on #29
Same issue for me too.

[2020-07-10 15:52] niemyjski commented on #29
Is it due to the main image not having an access token? I've seen this happen once but haven't been able to track it down? Other than this is it working ok? We should be able to do some really cool stuff now that we have state and info on every camera.

[2020-07-10 16:11] Luke95vl commented on #29
I don't know if it needs access, my knowledge is limited in this field, the main image works after 10/15 seconds that I have accessed the page, the rest works all

[2020-07-22 20:42] KTibow opened #30 "[Feature:] Add screenshots"
Not a big priority issue, just a lot of card docs have them, and I don't know what the "style of a surveillance system" looks like.

[2020-07-23 13:10] niemyjski commented on #30
It would be nice to trigger recording or screenshots, not sure how it would work or if it would prompt to save to your computer or just in local storage.

[2020-07-23 13:11] niemyjski commented on #29
Sorry for taking so long to respond I've been pretty busy but tried to see if I can see this behavior, but haven't really had time to track it down. I wonder if it has to do with the camera_stream_proxy taking a little bit to get ready.

[2020-07-23 13:11] niemyjski commented on #29
It would be a huge help if someone could dig into this.

[2020-07-23 13:49] KTibow commented on #30
You're right, that's a good idea, although I was thinking of screenshots for the docs (so you can see what it looks like).

[2020-08-29 13:07] pierinho opened #31 "Change layout card"
It's possible to change the layout of the card, with camera thumb on left and bottom of the main camera?

[2020-09-03 12:37] niemyjski commented on #31
Not currently, but it would be nice to have some options for layouts. Would you mind working on this?

[2020-09-03 12:37] niemyjski commented on #29
Has anyone had time to look into this?  When I first hit it, it was due to the camera proxy stream not having an access token.

[2020-09-03 14:30] pierinho commented on #31
I have no knowledge of programming language, I can only help you as a beta tester. Sorry

[2020-09-16 09:49] stingly commented on #27
I have made some changes to my local file to enable automatic transitioning to the next camera in the list, controlled by a new attribute in the lovelace yaml file. I'm quite happy to create a PR for it, but I don't have motion sensors on my cameras so cannot test how that would work with my new code.

I _think_ that it will switch to the motion-detected camera and then move on after n time to the

[2020-09-16 10:23] stingly commented on #27
I attempted to push my branch to the repository but I guess I need to be allowed to do that as I get this error:
[code]

[2020-09-21 22:08] supermork opened #32 "Surveillan"

[2020-09-24 16:38] RoldyBuffalo commented on #29
Heya, I seem to have the same issue. I'll edit this reply to include logs, unless you happen to reply before I hit enter.

[2020-09-25 12:09] niemyjski commented on #32
Can you please provide a description as well as a title

[2020-09-25 12:09] #32 closed

[2020-09-25 12:10] niemyjski commented on #29
Seems like the token is invalid that we get back from the api. We are just using the access token that's provided in the state attributes. These bans are not idea. Can you please see if my latest commit fixes this for you: https://github.com/custom-cards/surveillance-card/commit/a1b1933ef7c1ae025380604dc9884d65243fefb6 If not,  would you mind filing a bug on the HA repo and reference https://githu

[2020-09-25 14:38] lassealfastsen commented on #29
i Have the exact same issue, did anyone fix it?

[2020-09-26 00:59] kkellner commented on #29
@niemyjski The master branch seems to have fixed the issue for me.

[2020-09-26 01:07] kkellner opened #33 "Enhancement request: Use "live" view"
Enhancement request:

I would like the option to use the "live" (stream) for either thumbnails and/or large image.

This would be similar to the `camera_view: live` property on the picture-entity card.

[code]

Something like this (or maybe would need to be a separate property if `interval` properties are integer only types):

[code]

[2020-09-26 01:21] niemyjski commented on #29
Awesome! I'll try and tag a release

[2020-09-26 01:22] kkellner commented on #29
I spoke too soon.   The right side (large view) comes up immediately now, however after a view minutes I get banned.  I'll continue testing.

[2020-09-26 01:38] kkellner commented on #29
Looks like it has something to do with HA restart --  I have a tablet that has a lovelace view showing view with`surveillance-card`.  When I restart HA, after HA starts I get 1 failed login from the tablet.  Then all seems to be OK.  Since my HA is front-ended with an HA-proxy, all the requests look like they come from the same IP.

I suspect that if I have 5 devices (e.g., many tablets) that all

[2020-09-29 04:02] kkellner commented on #29
@niemyjski  I believe your change is good for getting a valid stream at first view.  However it doesn't (fully) resolve the login failed issue.  Some interesting discussion on the topic here:

https://community.home-assistant.io/t/wth-are-those-login-attempt-failed/219519/58

[2020-10-01 02:52] kkellner opened #34 "Allow view to work in offline mode"
I have a tablet that does not have internet access that is trying to display a lovelace view which use surveillance-card but it fails.  It looks like the `surveillance-card.js` is using external resources that are not hosting within home assistant itself.  Specifically:

https://unpkg.com/lit-element@2.3.1/lit-element.js?module

All other home assistant UIs are working fine in offline (not interne

[2020-10-03 13:08] Kedryn commented on #30
So, still no screenshots?
Do we have to install and configure all, to find out it isn't what we thought?

[2020-10-06 14:50] tempo3 opened #36 "card disordered"
Hello, the style of the card looks disordered (see attachment). The installation was done via HACS. The functionality is given as described, only the look is not as expected. This problem occurs in the browser, in the app, on iphone, ipad, on Mac as well as on windows ...

![image](https://user-images.githubusercontent.com/63743500/95216886-e1667380-07f2-11eb-989a-baee03374ea0.png)

[2020-10-06 23:55] atrv7 commented on #30
@niemyjski @KTibow  I am working on adding the screenshot & recording functionalities  I will create a new PR and push my code tomorrow afternoon

[2020-10-07 06:53] Kedryn commented on #30
I think you misunderstood the request.

We are asking screenshots of what this addon looks like, in the in docs, not making screenshots with the surveillance-card

[2020-10-07 12:33] atrv7 commented on #30
@Kedryn there are 2 issues here. There is already a PR that should resolve your screenshot documentation issue ( #35 ).

I am working on @niemyjski's suggestion to add screenshot/recording functionalities which @KTibow also agreed would be a nice feature

[2020-10-07 13:53] #30 closed

[2020-10-09 00:03] Kedryn commented on #36
For me too, but in a different way
![image](https://user-images.githubusercontent.com/12759632/95525129-96f01d00-09d3-11eb-986f-6b6d1016bb16.png)

[2020-10-09 16:17] atrv7 commented on #30
@niemyjski @KTibow I created a PR to add the snapshot and burst record functionalities to this code base. Take a look and let me know if it is what you envisioned and to let me know if there are better ways of implementing parts of it. Happy to work on it some more if there are things you would like to be done differently

[2020-10-12 23:21] niemyjski commented on #29
This seems blocked by https://github.com/home-assistant/frontend/issues/3379 which is the core issue. We only use the token that is provided by the HA state.

[2020-10-15 17:24] dustins1983 commented on #29
Im getting this too, and for me it shifts the whole card to the right, so i have to scroll sideways to see the camera

[2020-10-21 22:45] niemyjski commented on #36
What do you mean by disordered? I think we sort them by the last motion.

[2020-10-21 22:46] niemyjski commented on #34
We'd be willing to accept a pr for this!

[2020-10-21 22:47] niemyjski commented on #33
Yeah, I've tried to do this with the camera stream url and it seemed to update not as quick. Would you mind looking into this and submit a pr.

[2020-10-22 07:40] Kedryn commented on #36
I think he meant that the  active camera streaming is too low on the right, leaving a lot of space on the top.
For me, both camera list and camera streaming are too right, starting in the middle, wasting half screen of space and putting scroll bars on bottom

[2020-10-22 11:24] niemyjski commented on #36
Ahh I can’t say I’ve seen this, any chance you could dig into this and submit a pr?

Sent from my iPhone

[2020-10-22 15:52] tempo3 commented on #36
hi, same here. When I pull the browser window wider, the camera picture is somewhere in the middle. In other words, the cam picture is not where it should be according to the description. sorry - what does pr mean?

[2020-10-22 16:04] niemyjski commented on #36
Thanks for the additional information. It means Pull request.

[2020-10-28 00:45] tommyjlong opened #38 "Surveillance-card: semi not working with HACS"
I use HACS to track and update this card.  When upgrading to 0.0.4 (using HACS), each thumbnail now contains two semi-transparent circles, but I'm not sure what this is all about.  One appears to be for taking a snapshot, and I think the other is for recording.  I'm getting an error in Chrome Inspect saying it can not find record.svg and snapshot.svg.  HACS did not pickup these svg files.  I did d

[2020-11-10 12:49] cyrenaud opened #39 "Feature request: portrait view"
Great work so far. An option to have a different layout in portrait view would be a great help in my situation where I have a number of tablets oriented like that. It would be great to have the main view (motion-detected view) at the top of the page and the thumbnails for all cameras below that.

Thanks again for a great project.

[2020-11-16 21:12] albertorivi opened #40 "Surveillance-card not showing up inside a Swipe-Card"
home assistant 0.117.6 i didn't know if it's working before.

In case I add the surveillance-card inside a swipe-card on a dashboard the surveillance-card is not showing up on the dashboard.
Some ideas?

here is a simple of mine lovelace dashboard:

          - type: 'custom:swipe-card'
            card_width: 100%
            start_card: 1
            reset_after: 30
            parameters:

[2020-11-22 19:53] reefland commented on #38
same issue.  HACS didn't even seem to download the images.  Had to grab them manually.

Thanks for pointing out where they were expected.  For now, this workaround of creating a symlink where it was expected got the images to show up:

[code]

[2021-01-24 05:16] XoniBlue commented on #38
would you mind explaining how you went about doing this?

[2021-01-25 22:25] reefland commented on #38
Not sure understand your confusion with the steps above.  The "www" directory is located within your Home Assistant configuration directory.  The `ln -s community/surveillance-card/ .` is what creates the symlink.  The example above was done on a FreeBSD jail where HA is running.  The steps would be identical on Linux.  Hope that helps.

[2021-02-03 02:20] johntdyer commented on #38
FWIW when I "reinstall" the this plugin it actually deleted the SVG files.  Put another way I am able to manually download the files using the wget commands per the readme.md and then do a "reinstall" via the add-ons place and the it wil actually deletes the svg files I manually downloaded

[2021-02-15 20:12] johntdyer commented on #38
@niemyjski - Any thoughts here ?

[2021-02-16 15:06] niemyjski commented on #38
I've seen this too but I haven't had time to look into it. I wonder if there is something excluding svg's from being copied? I would think we would just be using font icons that are built into HA. Can someone submit a pr for this?

[2021-02-25 18:16] imwireless opened #41 "No card type found"
I installed via HACS but am unable to get this working.

![image](https://user-images.githubusercontent.com/52220457/109197939-9e8a4580-776b-11eb-9edd-58993ed95e0e.png)

![image](https://user-images.githubusercontent.com/52220457/109197988-ac3fcb00-776b-11eb-846a-397ed76c2dea.png)

Any suggestions?

[2021-03-12 23:50] Wibias commented on #22
https://github.com/custom-cards/surveillance-card/commit/1524fcbf95ff7e228ba3bc4c08bbfa5c018b825a

[2021-03-13 13:36] niemyjski commented on #22
@Wibias I did that commit to resolve this issue. Are you still seeing it?

[2021-03-13 15:06] Wibias commented on #22
Whoops that was on the wrong Issue. Had way to many tabs open, sorry! I am using another Component which is having the same problem. https://github.com/PiotrMachowski/lovelace-xiaomi-vacuum-map-card/issues/67

[2021-03-23 04:12] whoisdecoy commented on #26
Could be solved by grouping sensors and using the group as sensor instead?

[2021-03-23 14:15] niemyjski commented on #26
I think that would work. Can you try it and let us know.

[2021-03-23 15:13] whoisdecoy commented on #26
Sorry - I don't use this anymore and when I did I didn't use the motion sensors. Just had the idea when browsing.

[2021-04-04 02:55] MisterTFM commented on #38
Same issue, using HACS, it didn't download the *.svg files.
![ScreenHunter 177](https://user-images.githubusercontent.com/74779407/113497195-a017fd80-94cf-11eb-8b6a-e4d290d20017.jpg)

[2021-04-05 12:32] niemyjski commented on #38
Can you please submit a pr that resolves this issue

[2021-04-09 12:42] Dario82 opened #43 "Camera updater"
Hello,
I have a CCTV system outside Hassio's lan.
I've setted the update_interval to 1.

When I go on panel with surveillance-card, I use 3mbps bandwidth.
But:
- When I leave the panel with surveillance-card, the bandwidth remain the same,
- If I reload the page (with F5) the bandwidth will stop.

Why? Can you help me?
Thank you.

[2021-04-16 20:06] niemyjski commented on #33
this was just merged in via a pr!

[2021-04-16 20:06] #33 closed

[2021-04-16 20:07] niemyjski commented on #38
I just resolved this issue in the latest commit

[2021-04-16 20:07] #38 closed

[2021-04-16 20:07] niemyjski commented on #40
Can you take a look into this issue and submit a pr? I believe this card is meant to be used in panel.

[2021-04-16 20:07] niemyjski commented on #41
Did you install this via hacs?

[2021-04-16 20:12] niemyjski commented on #43
I'm not sure, perhaps the element still exists and is running in the background. Can you debug this and look into it.

[2021-04-19 02:09] stu1811 commented on #41
I have the same issue. I installed via hacs. Let me know if I can provide any debug or logging info.

![image](https://user-images.githubusercontent.com/12236842/115172048-6845b400-a092-11eb-9603-1c3518481829.png)

![image](https://user-images.githubusercontent.com/12236842/115172162-aa6ef580-a092-11eb-8fe8-ef418bad33f6.png)

[2021-04-19 17:20] niemyjski commented on #41
The type is not valid yaml, you need to escape it: `type: 'custom:surveillance-card'`

[2021-04-19 18:02] stu1811 commented on #41
Do you mean I need the single quotes?

[2021-04-19 18:16] davidjmorin commented on #41
Yes.  Just use the single quotes and you should be good.

[2021-04-19 18:30] niemyjski commented on #41
It just needs to be quoted :)

[2021-04-19 18:38] stu1811 commented on #41
I'm still seeing the error

![Screenshot_20210419-143757_Chrome.jpg](https://user-images.githubusercontent.com/12236842/115286297-e9e22400-a11c-11eb-91e1-7cfd54d4366c.jpg)

[2021-05-11 02:25] stu1811 commented on #41
I finally got this to work using the below code. The only issue I'm having now is when I click the video record it takes a still image.
[code]

[2021-05-11 10:20] stu1811 commented on #41
I finally figured it out. I was trying to input the view into a custom card rather than the raw editor. It's working now. The only problem now is when I click record video it saves a still image.

@imwireless  are you using the raw editor or a custom card like I tried using?

[2021-06-11 07:15] azcn2503 commented on #41
I get this error both when trying to add a custom card, and when using the raw editor to edit all views.

[2021-06-11 12:04] niemyjski commented on #41
I haven't been able to reproduce. I'd recommend reinstalling the addon, restarting ha and clearing your browser cache just in case.

[2021-07-07 00:06] maniscalcojohn opened #44 "Hide active camera from list selection on the left"
Could you give us an option to hide the active camera being displayed in the big window on the right from the choices available on the left? There really isn’t much of a reason to display it twice and it takes up space on the card. Thanks!

[2021-07-16 13:17] anthonygregis commented on #44
I'd appreciate this support as I'm currently having an issue where this active camera is massively over scaled, going far beyond browser screen size.

[2021-07-18 01:41] fefris commented on #36
assume this has been abandoned as a project? Given this is issue is still open and not resolved. Just installed this via hacs and have the same distortion.

[2021-07-18 02:31] niemyjski commented on #36
Feel free to submit a pr with a fix and we'll merge it. I haven't ran into this issue....

[2021-07-19 13:00] WarrenSimpson opened #45 "Allow card to display in lovelace cast"
Can you allow lovelace cast to display this custom card

[2021-07-25 07:08] Alfiegerner opened #46 "Feature request: Work with WebRTC"
Hi,

I've found the most reliable and fastest way of viewing my cameras in homeassistant is by using WebRTC custom component: https://github.com/AlexxIT/WebRTC

Would be great to have this work with card.

Thanks!

[2021-08-30 16:23] bsfaxi opened #47 "Allow a group or jinja2 template as a list of camera entities"
Hi,
The configuration of the card allows only a specific list of camera entities.
So, is it possible to make a enhancement in order to allow instead a group or a jinja2 template that could populate the list of required camera entities?
Thanks in advance.
Bilel

[2021-09-12 08:31] uroh commented on #41
same error of azcn2503 with raw editor.

[2021-09-12 12:09] uroh commented on #41
false alarm, all fixed! Sorry

[2021-12-18 17:52] Muzach opened #48 "feature:request remove thumbnails config option"
Feature Request:  Expose a config parameter to disable the thumbnails column.  My use-case is I only have a single camera and want to use that real-estate for other cards.

[2021-12-20 20:11] aladin2000 opened #49 "multiple cam"
i have two cam ,
first is dlink in http
the second one is rtsp
Cam1 : ok
Cam2: Nok  (even if it is seen by HomeAssistant normal view )

any fix ?

[2022-02-13 15:05] JohanEikelenboom opened #52 "Thumb not showing for motioneye cameras"
Hi,

I have 2 cameras connected to MotionEye and these cameras are added to the surveillance card. This is working like a charm except for the thumbs. I'm not sure what I'm doing wrong. When adding a esphome camera (based on a ESP32), this camera shows up with a thumbnail on the left side.

Does someone know what I'm doing wrong?

[2022-02-20 00:50] Harvsch opened #53 "Not working on core-2022.2.9"
I installed with HACS and copied the three components as directed in the instructions. It appeared to work briefly, but now only shows one of four cameras and one empty frame.
The cameras each works correctly and display correctly in a Picture Entity Card.
[code]
The instructions indicate that it should be installed in WWW, but it looks like lovelace is looking in custom components. Copying the fi

[2022-04-07 18:57] LanceMcCarthy opened #54 "Downgrade as Update?"
Something weird happened today. I can't tell if it's a bug in HACS, HA or this card... but HACS is showing that there's a new version

![image](https://user-images.githubusercontent.com/3520532/162276639-3a1ea754-c4a5-4e4c-a57a-6d75ea22529f.png)

Usually, this is just a tiny mistake with metadata and the underlying assemblies/code is actually newer... but I wanted to double check before clicking t

[2022-05-27 10:25] cowboysdude opened #55 "Not recognizing Blink Cameras"
![Capture](https://user-images.githubusercontent.com/11013648/170682183-8f121f98-9f67-4d23-8231-d5494730b57c.PNG)

[2022-05-27 10:26] cowboysdude commented on #55
`- type: custom:surveillance-card
      title: Surveillance
      icon: mdi:cctv
      panel: true
      cards:
          update_interval: 2
          cameras:
            - entity: camera.blink_back_door
              motion_entity: binary_sensor.blink_back_door_motion_detected
            - entity: camera.blink_livingroom_camera
              motion_entity: binary_sensor.blink_living_room_camera

[2022-06-20 08:46] costasfait commented on #48
is this implemented yet? it seems that it has been tested successfully.

[2022-08-31 22:18] DeaneWheresItAt opened #57 "Framerate extremely low"
I have 9 Unifi cameras that i've added to my surveillance card. When i try to view the card, they appear as though they're running at like 1 FPS. It also means that the motion detection change to the right view doesn't change.

Thanks

[2022-10-06 15:18] niemyjski commented on #57
I haven't seen this, we just use the camera apis from ha. Do you have this with any other video cards?

[2022-10-06 15:18] niemyjski commented on #54
Is this still an issue? That is really weird.

[2022-10-06 15:19] niemyjski commented on #55
We just work off camera entities, we have no limitations on blink. Were you able to solve this?

[2022-10-06 15:20] niemyjski commented on #52
We use the same api's for both, were you able to figure this out?

[2022-10-06 15:20] niemyjski commented on #49
Are you seeing any errors?

[2022-10-06 16:55] aladin2000 commented on #49
No error
In the following we can see http cam
And above the dome cam without any preview
![IMG_20221006_185311](https://user-images.githubusercontent.com/16690723/194373106-8a5e08cb-b770-40a4-8a1f-df4579e4e229.jpg)

![IMG_20221006_185330](https://user-images.githubusercontent.com/16690723/194373138-a131ae1b-8b08-4840-b7f5-a26a3268dac6.jpg)

[2022-10-09 08:56] baldfox opened #58 "2022.10.1 / OS 9.0 - "Repository custom-cards/custom-cards/surveillance-card not found""
Am trying to install the surveillance card, but everytime it brings me into hacs (having authenticated) it shows me the following error:
Repository custom-cards/custom-cards/surveillance-card not found

Running 2022.10.1 Supervised (os 9.0).
Anyone have a work around?

[2022-10-10 02:15] niemyjski commented on #58
Looks like your repository path is incorrect. It should be `custom-cards/surveillance-card`

[2022-10-10 02:16] niemyjski commented on #49
That's weird. I'd open the browser developer tools and see if there are any errors in the console. I haven't seen this before.

[2022-10-10 02:17] niemyjski commented on #41
Thanks for the update

[2022-10-10 02:17] #41 closed

[2022-10-10 02:28] baldfox commented on #58
Which is odd as I'm taking it from hacs directly. Nothing manual my side.

[2022-10-10 14:36] niemyjski commented on #58
@baldfox would you mind opening an issue on the hacs side of things and link back here.

[2022-10-10 14:37] #55 closed

[2022-10-10 14:37] baldfox commented on #58
I'd be happy to, let me see how to do that!

[2022-10-10 14:37] niemyjski commented on #55
I'm closing this until more information is provided. We should support every single camera entity.

[2022-10-10 14:38] niemyjski commented on #53
@Harvsch Please let me know if this is still an issue, looking at the error you sent it looks like the camera blocked the request

[2022-10-10 14:40] niemyjski commented on #57
@DeaneWheresItAt I'd recommend trying to set the update interval which is set to 1 second by default. https://github.com/custom-cards/surveillance-card/blob/master/surveillance-card.js#L104 Let us know how that helps. We just pass this along to the camera_proxy_stream api here: https://github.com/custom-cards/surveillance-card/blob/master/surveillance-card.js#L160

[2022-10-10 14:40] #57 closed

[2022-10-10 14:42] niemyjski commented on #52
We just use the camera proxy stream https://github.com/custom-cards/surveillance-card/blob/master/surveillance-card.js#L160. there should be no limitation on this... Let me know if you are seeing this with other cards and if there are any errors.

[2022-10-10 14:42] #52 closed

[2022-10-10 14:42] niemyjski commented on #46
Would love a pr for this.

[2022-10-10 14:43] niemyjski commented on #48
@costasfait do you mind testing the pr?

[2022-10-10 14:45] niemyjski commented on #45
We'd be willing to accept a pr for this, I don't cast this currently.

[2022-10-10 14:45] niemyjski commented on #40
Thanks for reporting this. I'd recommend reporting this on the custom swipe card as it's a limitation with that card and not this project.

[2022-10-10 14:45] #40 closed

[2022-10-10 14:46] niemyjski commented on #44
I'd love to have a pr for this, we currently show it as it highlights the camera being displayed and allows a snapshot to occur.

[2022-10-10 14:47] niemyjski commented on #43
@Dario82 were you able to solve this?

[2022-10-10 14:47] #53 closed

[2022-10-10 14:48] niemyjski commented on #47
I'm not sure how that would work, how would you associate a camera and motion entity?

[2022-10-10 14:49] niemyjski commented on #39
@cyrenaud would you mind testing out the pr.

[2022-10-10 14:50] niemyjski commented on #36
Has anyone seen this issue in the latest releases? Have you been able to fix it if so?

[2022-10-10 14:51] niemyjski commented on #29
I'm going to close this as it seems like it's resolved in core now via the linked frontend issue https://github.com/home-assistant/frontend/issues/3379 Please let me know if this is still an issue. Any help would be greatly appreciated.

[2022-10-10 14:51] #29 closed

[2022-10-15 11:32] niemyjski commented on #36
I think the flexbox change makes the most sense, any chance for a pr for this? Thanks again for following up with solutions / more info.

[2022-10-15 11:34] #48 closed

[2022-10-15 11:34] #31 closed

[2022-10-15 11:34] #39 closed

[2022-10-15 12:11] #26 closed

[2022-10-15 12:13] niemyjski commented on #58
@baldfox were you able to open an issue or resolve this?

[2022-10-15 12:14] niemyjski commented on #43
I haven't been able to reproduce this, if someone else sees this issue please reopen.

![image](https://user-images.githubusercontent.com/1020579/195985830-701a71f9-8667-4bc6-b1f4-6222952de222.png)

[2022-10-15 12:14] #43 closed

[2022-10-15 12:17] niemyjski commented on #46
Thanks for the feature request. I'm going to close this as I don't have resources to implement this and it works fine with my streams, if you'd really like this, please comment/open a pr!

[2022-10-15 12:17] #46 closed

[2022-10-15 12:17] niemyjski commented on #45
@WarrenSimpson do you know specifically what isn't working when you cast? Can you look into this?

[2022-10-15 12:19] niemyjski commented on #27
@stingly really sorry I just saw this. Please open a pr for this, you can do so by forking this repo and pushing to your fork. GitHub will then open a pr for this.

[2022-10-15 13:10] WarrenSimpson commented on #45
Hi there,

Wow, completely forgot I asked for this.
My home assistant broke a while back and I lost my setup. And I haven't
setup a new one since.

I will have to get back to you on that.
But I do remember it wouldn't display anything, or it would display the "no
internet connection" icon. If memory serves me correctly.

Regards
Warren Simpson

On Sat, 15 Oct 2022, 14:17 Blake Niemyjski, ***@***.*

[2022-10-15 14:10] baldfox commented on #58
Not yet. I'm away. Looked at it quickly but needed to submit a load of logs etc. It's on the to do list.

[2022-10-17 08:53] Pilarmb93 commented on #27
Does anyone know if this improvement has been made?
It would be very good for me.

[2022-10-17 08:59] Pilarmb93 commented on #27
Regarding the resizing to fit the available space, is there any progress?

[2022-10-17 12:33] niemyjski commented on #27
@Pilarmb93 no, there hasn't been any pr's for this opened.

[2022-10-19 14:05] Pilarmb93 commented on #27
What a pity. This is very necessary.
Hopefully @stingly sees it and shares his changes with us.

[2022-10-19 15:42] stingly commented on #27
I've pushed up my changes (I think) - PR #59 - My code is probably very out of date now though as I solved this 2 years ago... I've not been using Home Assistant for over a year at this point, so I apologise if the code is unusable

[2022-10-21 12:46] Pilarmb93 commented on #27
@niemyjski the PR is already

[2022-10-21 13:40] niemyjski commented on #27
@stingly @Pilarmb93 there are merge conflicts. I also feel like this may need a setting to enable it. Can you please work on fixing this @Pilarmb93

[2022-10-27 09:31] Pilarmb93 commented on #27
@niemyjski
I don't know how to do that, sorry.
I will continue to search for an integration that can offer me what I need.
Thanks.